* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  min-height: 100vh;
  background: url(./assets/bg.jpg) center center no-repeat;
  background-size: cover;
  padding-bottom: 30px;
}

.app__container {
  flex-grow: 1;
}

.input-file {
  display: none;
}

.input__container {
  display: block;
  text-align: center;
}

.progress-bar {
  height: 5px;
  display: block;
  background: #42a5f5;
  border-radius: 12px;
}

.cards {
  margin-top: 30px;
}

.gallery__img {
  max-width: 200%;
  max-height: 200%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 300ms;
}

.cart__item {
  opacity: 0;
  cursor: pointer;
}

.cart__item:hover .gallery__img {
  transform: translate(-50%, -50%) scale(1.2);
}

.substrate {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  max-width: 90%;
  position: relative;
}
.modal__img {
  max-height: 90vh;
  max-width: 100%;
}

.gallery__remove {
  position: absolute;
  right: 15px;
  top: 15px;
  opacity: 0;
  font-size: 0;
  transition: 200ms;
}

.cart__item:hover .gallery__remove {
  opacity: 1;
}